body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
}

h1 {
  color: #ff6700;
  margin-bottom: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #ff6700;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e65c00;
}

h2 {
  color: #333;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

li strong {
  color: #ff6700;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

ul > li {
  padding: 20px;
}

ul > li > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul > li > div > strong {
  margin-left: 14px;
}

.like-btn {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #ff6700;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.like-btn:hover {
  background-color: #e65c00;
}